name: Deploy website to AWS S3

on:
  push:
    branches:
      - main

jobs:
  Terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4      
      
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.tfc_team_token }}
      
    - name: Terraform Init
      run: |
        cd TF
        terraform init
      
    - name: Terraform Validate
      run: |
        cd TF
        terraform validate
       
    - name: Terraform Plan
      run: |
        cd TF
        terraform plan
        
    - name: Terraform Apply
      run: |
        cd TF
        terraform  apply -auto-approve